html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  color: white;
}

/*Every .full-width-container is a flex container with a single centered flex element, the .container described below.  This allows the backgrounds to extend the entire width of a large screen, while the essential elements reside in a centered container.*/
.full-width-container {
  display: flex;
  justify-content: center;
}

/*.container is a flex element 960px wide, centered on the page.*/
.container {
  width: 960px;
  display: flex;
}

/*.banner has one div - the centered .container*/
.banner {
  padding: 0.66rem 0;
  background-color: black;
}

/*The centered .banner .container custom settings*/
.banner .container {
  flex-direction: row;
  justify-content: flex-start;
}

/*Items in the banner container*/
.banner img {
  margin-left: 0.5rem;
  margin-right: 1rem;
  height: 1.5rem;
}

.banner p {
  text-transform: uppercase;
}

/*Announcement backsplash covers width of entire page*/
.announcement {
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  height: 25rem;
}

.announcement .container {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

/*Announcement items in .announcement .container*/
.announcement .container span {
  background-color: black;
  width: 17rem;
  padding-left: 3rem;
  text-transform: uppercase;
  font-weight: bold;
}

.new-arrival {
  font-size: 1rem;
  padding-top: 2rem;
  padding-bottom: 0.25rem;
  margin-top: 9rem;
}

.new-products {
  font-size: 2rem;
  padding-top: 0;
  padding-bottom: 2.2rem;
  margin: 0;
}

/*Navigation bar*/
.menu {
  background-color: firebrick;
  align-items: center;
  padding: 0.75rem 0 0.75rem 0;
}

.menu .container {
  flex-direction: row;
  justify-content: space-between;
}

#responsive-menu-item {
  display: none;
}

/*Featured items*/
.featured {
  background-color: white;
  padding-bottom: 3rem;
}

.featured .container{
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*Featured item boxes*/
.featured .container figure {
  width: 30%;
  border: 4px solid black;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/*Featured item images*/
.featured .container figure img{
  height: 9rem;
  width: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*Sunglasses image individual styling*/
#glasses img {
  height: 5rem;
  width: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/*Featured items image captions*/
.featured figcaption {
  background-color: black;
  display: block;
  margin: 0;
  text-align: center;
  padding: 0.5rem 0;
  width: 100%;
}

/*Store info styling*/
.store-info {
  background-color: white;
  color: black;
}

.store-info .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 4rem;
}

.store-info .container .info-box {
  width: 35%;
}

.store-info .info-box .label-box {
  display: block;
  background-color: black;
  color: white;
  padding: 1rem 0 1rem 2rem;
  text-align: left;
  margin: 0;
}

/*Copyright*/
.copyright {
  background-color: black;
  color: white;
  align-items: center;
  height: 5rem;
}

/*Responsive items for tablet-portrait*/
@media only screen and (max-width: 1024px) {
  /*Navigation menu*/
  .menu .container {
    justify-content: center;
  }
  .large-menu-item {
    display: none;
  }

  /*Add drop down menu*/
  #responsive-menu-item {
    display: inline-block;
  }

  /*Announcement message*/
  /*No design guidance on font size for this screen width*/
  .arrival {
    font-size: 0.8rem
  }

  .new-products {
    font-size: 1.5rem;
  }

  /*Featured item boxes*/

  .featured .container {
    justify-content: space-between;
  }

  .featured .container figure {
    width: 47%;
    height: auto;
  }

/*If client wants only two items to show for tablet screens, add this code:*/
  /*#glasses {
    display: none;
  }*/

}
/*Responsive items for phones*/
@media only screen and (max-width: 470px) {

  /*Shrink annoucement background*/
  .announcement {
    height: 15rem;
  }

  /*Announcement text spans entire width of container with 2rem left indent*/
  .announcement .container span {
    padding-left: 2rem;
    width: 100%;
  }

  /*Announcement text size and spacing adjusted per design specs*/
  .announcement .container .new-arrival {
    margin-top: 10rem;
    padding-top: 1rem;
    font-size: 0.77rem;
  }

  .announcement .container .new-products {
    margin-bottom: 2rem;
    padding-top: .2rem;
    font-size: 1rem;
    overflow: hidden;
  }

  /*Featured items will display in a centered column;*/
  .featured .container {
    justify-content: center;
  }

  .featured .container figure {
    width: 90%;
  }

/*If client wants only one product to show on small screens, add this code*/
  /*#watch {
    display: none;
  }*/

  /*Store info will display in a centered column*/
  .store-info .container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .store-info .container .info-box {
    width: 100%;
  }

  .store-info .container .info-box .hours{
    margin-top: 0.5rem;
  }

  /*Copyright text will be centered*/
  .copyright .container{
    justify-content: center;
  }
}
